/*--------------------*/
h1 {
    text-align: center;
    color: #C23A79;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 800;
}

p {
    text-align: center;
}
/*
        h1{
            text-align:start;
            color: #C23A79;
        }
    */



/*Prueba Voluntariado*/
.voluntariados-container {
    display: flex;
    flex-direction: column;
    gap: 40px; /* separación entre bloques */
    max-width: 1000px;
    margin: 0 auto; /*centrar en la página */
    padding: 20px;
    background-color: var(--bg);
}

.voluntariado-item {
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 12px;
    width: 800px;
    background-color: #C23A79;
    margin-right: auto;
    margin-bottom: 0;
}

    /* cuando la clase es "left": imagen izquierda */
    .voluntariado-item.par {
        flex-direction: row;
        margin-left: 10px;
    }

    /* cuando la clase es "right": imagen derecha */
    .voluntariado-item.impar {
        flex-direction: row-reverse;
        margin-left: auto;
        margin-right: 0px;
    }

.img-voluntariado {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    bottom: 0;
}

.texto-voluntariado {
    flex: 1; /* ocupa todo el espacio sobrante */
    font-size: larger;
    line-height: 1.6;
    color: black;
    font-family: 'Times New Roman', Times, serif
}

.vol-container {
    display: grid;
    border-radius: 15px;
    background-color: white;
    justify-content: start;
    box-shadow: 6px 6px 6px #5c6b6a2e;
    width: 800px;
    height: auto;
    margin: 20px auto; /* 💡 esto centra el div horizontalmente */
    text-align: left; /* para que el texto dentro no quede centrado */
}

.req-vol {
    display: flex;
    border-radius: 10px;
    box-shadow: 5px #C23A79;
}
